* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background-color: #4D3E67;
}

.container {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 15px;
  text-align: center;
}

img {
  margin: 15px;
  max-width: 300px;
}

h1, h2 {
  text-shadow: 1px 1px #000000;
}

h1, h2, p {
  text-align: center;
  max-width: 600px;
  margin: 15px;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
  font-size: 30px;
}

p {
  color: #FFFFFF;
  font-size: 20px;
}

.social {
  padding: 0;
  margin: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social li {
  margin: 15px;
}

.social li a {
  display: block;
  color: #FFFFFF;
  font-size: 30px;
}

.social li a:hover {
  text-shadow: 1px 1px #000000;
}